textarea{
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
}

.list_title[readonly="readonly"] {
  pointer-events: none;
}

.edit_card_wrapper{
  width: 100%;
  height: 100%;
  background-color: var(--cardCommonBackground);
  color: var(--cardWordColor);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:-20px;
  z-index: 15;
  box-sizing: border-box;
}

.edit_card_content{
  width: 700px;
  height: 550px;
  background-color: black;
  display: grid;
  grid-template-columns: 40% 60%;
  color: var(--cardWordColor);
  padding: 10px;
  border-radius: 10px;
  margin: auto auto;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(178, 178, 178, 0.73);
  box-shadow: 0px 0px 12px 3px rgba(81, 80, 80, 0.73);
}


.edit_card_decorate{
  text-align: center;
  border-right: 1px solid var(--borderColor);
}

.task_word{
  margin-top: 90px;
}

.task_sentence_word{
  height: 70px;
  border-right: 2px solid var(--buttonColor);
  line-height: 70px;
  overflow: hidden;
  animation: moveRight 1500ms steps(12) , borderBlink 200ms;
  font-size: 40px;
  white-space: nowrap;
}


@keyframes moveRight {
  0% {
    width: 0%;
  }

  100% {
    width: 270px;
  }
}

@keyframes borderBlink {
  0%,
  100% {
    border-right-color: transparent;
  }

  50% {
    border-right-color: var(--buttonColor);
  }
}




.edit_card_pic{
  background-image: url(/public/assets/edit_card.png);
  width:100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size:contain;
  color: rgba(0, 0, 0, 0);
  margin: 20px auto;
  font-family: 'Noto Sans TC', sans-serif;
}




.finish_button {
  text-align: center;
  position: relative;
  margin: auto auto;
  margin-top: 90px;
  font-size: 20px;
  font-weight: bold;
  width: 120px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px solid var(--buttonColor);
  color:var(--buttonColor);
  cursor: pointer;
  transition: all 500ms linear;
}
.finish_button::after {
  background-color: rgba(255, 255, 255, 0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: none;
  width: 0;
}
.finish_button:hover {
  background-color: rgba(11, 204, 255, 0.8);
  box-shadow: 0 0 10px 0 #0bccff;
  color: #fff;
  text-decoration: none;
}
.finish_button:hover::after {
  background-color: rgba(11, 204, 255);
  transition: all 300ms ease-out;
  width: 100%;
  content: "Good Job";
  overflow: hidden;
  position: absolute;
}






.delete_button {
  text-align: center;
  position: relative;
  margin: auto auto;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  width: 120px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  border: 2px solid var(--deleteButtonShadow);
  color:var(--deleteButtonShadow);
  cursor: pointer;
  transition: all 500ms linear;
}
.delete_button::after {
  background-color: rgba(255, 255, 255, 0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: none;
  width: 0;
}
.delete_button:hover {
  background-color: rgba(245, 121, 83, 0.8);
  box-shadow: 0 0 10px 0 var(--deleteButtonShadow);
  color: #fff;
  text-decoration: none;
}
.delete_button:hover::after {
  background-color: rgba(245, 121, 83);
  transition: all 300ms ease-out;
  width: 100%;
  content: "Why??";
  overflow: hidden;
  position: absolute;
}







.list_information{
  margin-left: 30px;
  text-align: left;
  margin: auto auto;
  position: relative;
}


.close_container{
  position: absolute;
  color: rgba(0, 0, 0, 0);
  background-image: url(/public/assets/close_icon.png);
  background-size: contain;
  width:20px;
  height: 20px;
  top: -50px;
  right:0px;
  cursor: pointer;
}

.list_title_content{
  position: relative;
  font-size: 30px;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--mainDecorateColor);
  box-sizing: border-box;

}











.list_title{
  width: 100%;
  border-radius: 10px;
  background-color: black;
  color: var(--cardWordColor);
}

.list_title:focus + .a_cont{
  position: absolute;
  top:-1px;
  background-color: var(--buttonColor);
  height: 1px;
  width: 0;
  animation: animate-a 1s;
  animation-fill-mode: forwards;
}

.list_title:focus ~ .b_cont{
  position: absolute;
  background-color:  var(--buttonColor);
  right: -3px;
  height: 0px;
  width: 1px;
  border-radius: 5px;
  animation: animate-b 1s 1s;
  animation-fill-mode: forwards;
}

.list_title:focus ~ .c_cont{
  position: absolute;
  background-color:  var(--buttonColor);
  bottom: -1px;
  right: 0px;
  height: 1px;
  width: 0px;
  animation: animate-c 1s 2s;
  animation-fill-mode: forwards;
}
.list_title:focus ~ .d_cont{
  position: absolute;
  background-color:  var(--buttonColor);
  left: 0px;
  height: 0px;
  bottom: -1px;
  width: 1px;
  animation: animate-d 1s 3s;
  animation-fill-mode: forwards;
}

.list_title:focus ~ .e_cont{
  position: absolute;
  border: 3px solid  var(--buttonColor);
  border-radius: 5px;
  width:100%;
  height: 100%;
  animation: animate-e 1s 4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes animate-a{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@keyframes animate-b{
  0%{
    height: 0%;
  }
  100%{
    height: 98%;
  }
}
@keyframes animate-c{
  0%{
    width: 0%;
  }
  100%{
    width: 98%;
  }
}
@keyframes animate-d{
  0%{
    height: 0%;
  }
  100%{
    height: 98%;
  }
}

@keyframes animate-e{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.list_color{
  color: rgba(0, 0, 0, 0);
  font-size: 1px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 5px;
  padding: 20px;

}

.list_date{
    font-size: 20px;
}

.description_content{
    margin: 20px auto;
    width: 350px;
    height: 200px;
    background-color: var(--cardInputBg);
    border-radius: 12px;
    color:var(--cardWordColor);
    border: 1px solid var(--buttonColor);
    text-align: left;
    box-sizing: border-box;
    font-size: 20px;
    position: relative;
    overflow-y: hidden
}



.description_mark_tool{
    background-image: url("/public/assets/pen_icon.png");
    width: 30px;
    height: 30px;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top:10px;
    color: rgba(0,0,0,0);
    cursor: pointer;
}

:global(#edit_description_content){
  background-color: var(--cardInputBg);
  color: var(--cardWordColor);
}

.save_word{
  font-size: 18px;
  width: 60px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 600;
  color: var(--cardWordColor);
}

:global(#description_save_word){
  color: var(--cardWordColor);
  position: absolute;
  width: auto;
  top: 10px;
  right: 10px;
}
:global(#description_save_word):hover{
  color: var(--buttonColor);
}

.save_word:hover{
  color: var(--buttonColor);
}






