.icon{
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    width: 20px;
    height: 20px;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0);
    font-size: 1px;
    cursor: pointer;
}


input{
    outline: none;
    border: none;
    box-sizing: border-box;
}

.edit_invite_wrapper{
    position: absolute;
    width:100%;
    height: 100%;
    background-color: var(--cardCommonBackground);
    z-index: 15;
    top:0px;
}

.edit_invite_container{
    margin: auto auto;
    text-align: center;
    box-sizing: border-box;
    color: white;
    width: 600px;
    height: auto;
    border-radius: 10px;
    background-color: black;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(178, 178, 178, 0.73);
    box-shadow: 0px 0px 12px 3px rgba(81, 80, 80, 0.73);
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.edit_invite_background{
    background-color: white;
    color: black;
    border-radius: 10px 0px 0px 10px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.friend_email{
    width: 100%;
    height: auto;
    color: var(--mainDecorateColor);
    margin-bottom: 20px;
    font-size: 20px;
  
    text-align: center; 
    color: rgba(0,0,0,0.8);
	padding-bottom: 20px;
	text-shadow: 0 -0.6px 0 #333,
		0 0.6px 0.8px rgba(0,0,0, 0.4),
		0 0.8px 1px rgba(0,0,0, 0.15),
		0 2.8px 1px rgba(0,0,0, 0.18),
		0 1.2px 1px rgba(0,0,0, 0.21);
}








.edit_invite_decorate{
    background-image: url(/public/assets/invite_edit_card.png);
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.edit_invite_information{
    position: relative;
}

.edit_invite_information > input{
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    width: 80%;
}



.close_container{
    color: rgba(0, 0, 0, 0);
    position: absolute;
    top:10px;
    right: 10px;
}

.close_button{
    background-image: url(/public/assets/close_icon.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top:0px;
    right: 0px;
}

.edit_invite_title_wrapper{
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.edit_invite_title_wrapper > input{
    width: 80%;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 5px;
    background-color: black;
    color: white;
    border-bottom: 1px solid var(--underLineGray);
}


.edit_invite_title:focus+.under_line{
    transform: scaleX(1)
}

.under_line{
    margin: auto;
	content: "";
	height: 2px;
	width: 80%;
	background-color: var(--brightMainDecorateColor);
	transform: scaleX(0);
	transition:transform 0.3s ease;
}

.time_container{
    width: 100%;
    display: flex;
    margin: 20px auto;
    margin-bottom: 0px;
}

.time_icon{
    background-image: url(/public/assets/time_icon.png);
    composes:icon;
    margin-right: 17px;
}

.time_information{
    width: 300px;
    padding-left: 0px;
    display: flex;
}

.time_information >.time_item{
    width: 80px;
    height: 80px;
    border: var(--mainDecorateColor) 1px solid;
    border-radius: 5px;
}

:global(#edit_invite_time_center){
    margin-left: 20px;
    margin-right: 20px;
}

.time_input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    line-height: 50px;
    outline: none;
    font-size: 20px;
    text-align: center;
    border: 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: black;
    color: var(--cardWordColor);
    border-bottom: var(--mainDecorateColor) 1px solid;
    caret-color:var(--mainDecorateColor);
}

.time_input:focus + .time_bottom_word{
    color: var(--brightMainDecorateColor);
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    border: 1px solid var(--brightMainDecorateColor);
    border-radius: 0px 0px 5px 5px;
}

.time_input:focus{
    border: 1px solid var(--brightMainDecorateColor);
}


.time_input:hover + .time_bottom_word{
    color: var(--brightMainDecorateColor);
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    border: 1px solid var(--brightMainDecorateColor);
    border-radius: 0px 0px 5px 5px;
}

.time_input:hover{
    border: 1px solid var(--brightMainDecorateColor);
}


.time_bottom_word{
    line-height: 30px;
    color: var(--mainDecorateColor);
}



.edit_invite_days_wrapper{
    width: 100%;
    margin: 20px auto;
}

.edit_invite_days_border{
    margin: auto auto;
    padding: 0px;
    border: none;
    outline: none;
    color: white;
    background-color: black;
    height: 100px;
    box-sizing: border-box;
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(--mainDecorateColor);
}


.edit_invite_days_border:hover{
    color: var(--brightMainDecorateColor);
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    border: 1px solid var(--brightMainDecorateColor);
}


.edit_invite_days_content{
    display: flex;
    width: fit-content;
    align-items: center;
    margin: auto auto;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
}

.edit_invite_day{
    height: auto;
    display: flex;
    letter-spacing: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.edit_invite_day_button{
    margin: auto auto;
    padding: 0px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.edit_invite_day_bottom_word{
    line-height: 30px;
    width: 100%;
    color:var(--mainDecorateColor);
    border-top: 1px solid var(--mainDecorateColor);
    border-radius: 0px 0px 5px 5px;
}

.remind_word{
    margin-top: 10px;
    font-size: 14px;
    color: #929191;
    color: var(--deleteButtonColor);
}


.edit_invite_description_wrapper{
    display: grid;
    grid-template-columns: 6% 82%;
    column-gap: 12px;
    width:100%;
    position: relative;
    margin-bottom: 20px;
}

.description_icon{
    background-image: url(/public/assets/description_icon.png);
    composes:icon;
}

.edit_invite_description{
    width: 98%;
    border: 0px;
    padding: 10px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--underLineGray);
}

.edit_invite_description:focus + .description_under_line{
    transform: scaleX(1)
}

.description_under_line{
    content: "";
	height: 2px;
	width: 280px;
    top: 202px;
    position: absolute;
    margin-left: 6px;
	background-color: var(--brightMainDecorateColor);
	transform: scaleX(0);
	transition:transform 0.3s ease;
}




.color_selector_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.color_selector{
  color: rgba(0, 0, 0, 0);
  font-size: 1px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 10px;
  padding: 20px;
  cursor: pointer;
}


.send_invite_button_wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.send_invite_button{
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}




@media screen and (max-width:610px) {
  .close_container{
    top:-230px
  }
  .edit_invite_container{
    width: 100%;
    display: block;
    padding: 5px;
  }
  .edit_invite_background{
    background-color: black;
    color: white;;
  }
  .friend_email{
    color: white;
  }
  .edit_invite_title_wrapper{
    margin-top: 0px;
  }
}

