textarea{
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
}

.list_title[readonly="readonly"] {
  pointer-events: none;
}

.edit_card_wrapper{
  width: 100%;
  height: 100%;
  background-color: var(--cardCommonBackground);
  color: var(--cardWordColor);
  display: flex;
  justify-content: center;
  position: absolute;
  top:-50px;
  z-index: 15;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

.edit_card_content{
  width: 300px;
  height: auto;
  position: relative;
  background-color: black;
  color: var(--cardWordColor);
  padding: 20px;
  border-radius: 10px;
  margin: auto auto;
  -webkit-box-shadow: 0px 0px 12px 3px rgba(178, 178, 178, 0.73);
  box-shadow: 0px 0px 12px 3px rgba(81, 80, 80, 0.73);
}


.task_word{
  margin-top: 90px;
  font-size: 24px;
  font-weight: 400;
}

.friend_email_container{
  
  width: 100%;
  text-align: center;
}

.friend_email{
  margin-top: 5px;
  font-size: 16px;
}

.task_sentence_word{
  height: 70px;
  line-height: 70px;
  overflow: hidden;
  animation: moveRight 1500ms steps(12) , borderBlink 200ms;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}


@keyframes moveRight {
  0% {
    width: 0%;
  }

  100% {
    width: 200px;
  }
}

@keyframes borderBlink {
  0%,
  100% {
    border-right-color: var(--buttonColor);
  }

  50% {
    border-right-color: var(--buttonColor);
  }
}



.task_status_wrapper{
  display: flex;
}





.finish_button {
  text-align: center;
  position: relative;
  margin: auto auto;
  font-size: 12px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid var(--buttonColor);
  color:var(--buttonColor);
  cursor: pointer;
  transition: all 500ms linear;
  font-family: 'Noto Sans', sans-serif;
}
.finish_button::after {
  background-color: rgba(255, 255, 255, 0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: none;
  width: 0;
}
.finish_button:hover {
  background-color: rgba(11, 204, 255, 0.8);
  box-shadow: 0 0 10px 0 #0bccff;
  color: #fff;
  text-decoration: none;
}
.finish_button:hover::after {
  background-color: rgba(11, 204, 255);
  transition: all 300ms ease-out;
  width: 100%;
  content: "Good Job";
  overflow: hidden;
  position: absolute;
}

:global(#no_finish_button):hover::after{
  content: "Cheer Up";
}

.delete_button {
  text-align: center;
  position: relative;
  margin: auto auto;
  margin-top: 40px;
  font-size: 16px;
  font-weight: bold;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  border: 2px solid var(--deleteButtonShadow);
  color:var(--deleteButtonShadow);
  cursor: pointer;
  transition: all 500ms linear;
  font-family: 'Noto Sans', sans-serif;
}
.delete_button::after {
  background-color: rgba(255, 255, 255, 0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: none;
  width: 0;
}
.delete_button:hover {
  background-color: rgba(245, 121, 83, 0.8);
  box-shadow: 0 0 10px 0 var(--deleteButtonShadow);
  color: #fff;
  text-decoration: none;
}
.delete_button:hover::after {
  background-color: rgba(245, 121, 83);
  transition: all 300ms ease-out;
  width: 100%;
  content: "Why??";
  overflow: hidden;
  position: absolute;
}


.list_information{
  margin-left: 30px;
  text-align: left;
  margin: auto auto;
  position: relative;
}


.close_container{
  position: absolute;
  color: rgba(0, 0, 0, 0);
  background-image: url(/public/assets/close_icon.png);
  background-size: contain;
  width:20px;
  height: 20px;
  top: 0px;
  right:-30px;
  cursor: pointer;
}

.list_title_content{
  position: relative;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 30px;
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}



.list_title{
  width: 100%;
  border-radius: 10px;
  background-color: black;
  color: var(--cardWordColor);
}

.list_title:focus ~ .e_cont{
  position: absolute;
  left: 0px;
  border: 3px solid  var(--buttonColor);
  border-radius: 5px;
  width:100%;
  height: 100%;
  animation: animate-e 1s ;
  animation-fill-mode: forwards;
  opacity: 0;
}



@keyframes animate-e{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.list_color{
  color: rgba(0, 0, 0, 0);
  font-size: 1px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 5px;
  padding: 10px;

}

.list_date{
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  margin: 20px auto
}



.list_days_wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  letter-spacing: 1.5px;
}

.list_one_day_wrapper{
  text-align: center;
}

.list_day{
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.list_week{
  font-size: 12px;
}

.description_content{
  margin: 20px auto;
  width: 300px;
  height: 200px;
  background-color: var(--cardInputBg);
  color:var(--cardWordColor);
  text-align: left;
  box-sizing: border-box;
  font-size: 12px;
  position: relative;
}



.description_mark_tool{
  font-size: 16px;
  position: absolute;
  right: 10px;
  top:10px;
  color: white;
  cursor: pointer;
}

:global(#edit_description_content){
  background-color: var(--cardInputBg);
  color: var(--cardWordColor);
}

:global(#edit_description_content):focus{
  background-color: white;
  color: black;
}

.save_word{
  font-size: 16px;
  width: 60px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 400;
  color: var(--cardWordColor);
}

:global(#description_save_word){
  color: var(--cardWordColor);
  position: absolute;
  width: auto;
  top: 10px;
  right: 10px;
}
:global(#description_save_word):hover{
  color: var(--buttonColor);
}

.save_word:hover{
  color: var(--buttonColor);
}



@media screen and (max-width:1950px) {
  .toDoListDialogBox_container{
    width: 100%;
  }
}

@media screen and (max-width:700px) { 
  .edit_card_content{
    width: 100%;
    display: block;
  }
  .edit_card_decorate{
    border-right: 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
  }

  .task_sentence_word{
    border-right: 0px;
  }

  .edit_card_pic{
    margin-bottom: 50px;
  }



  .close_container{
    top:-460px;
    right: -6px;
  }
}




