.user_background{
  font-weight: 600;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  top:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

:global(.user_card_box){
  height: 600px;
  background: rgba(0,0,0);
  display: flex;
  border-radius: 5px;
}

:global(.user_decorate_box){
  width: 200px;
  background-color: #03e8f4ba;
  text-align: center;
  color: white;
  border-radius: 5px 0px 0px 5px;
}

:global(.user_logo_pic){
  margin: auto;
  margin-top: 70%;
  background-image: url(/public/assets/app_vertical_icon.png);
  width: 150px;
  height: 150px;
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
  color: rgba(0,0,0,0);
  font-size: 1px;
}

.user_box {
  width: 400px;
  padding: 40px;
  background: rgba(0,0,0,0.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(81, 80, 80, 0.6);
  border-radius: 10px;
}

:global(#register){
    display: flex;
}

:global(#sing_in){
    display: flex;
}

:global(.close_icon_box){
    width: 100%;
    display: flex;
    justify-content: right;
}

:global(.close_icon){
    background-image: url(/public/assets/close_icon.png);
    width: 20px;
    height: 20px;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0);
    font-size: 1px;
    cursor: pointer;
}

:global(.card_title) {
  margin-bottom: 50px;
  padding: 0;
  color: #fff;
  text-align: center;
}

:global(.user_box) {
  position: relative;
}

:global(.user_input) {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  line-height: 16px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

:global(#register_password){
  margin-bottom: 20px;
}

:global(.user_label) {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

:global(.user_input):focus{
  border-bottom: 2px solid var(--nowTimeBgColor);
}


:global(.user_input):focus ~ :global(.user_label),
:global(.user_input):valid ~ :global(.user_label) {
  top: -40px;
  left: 0;
  color: var(--nowTimeBgColor);
  font-size: 18px;
}

:global(.toggle_wrapper){
    display: flex;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

:global(.show_password_label) {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 50px;
	position: relative;
}

:global(.show_password_label):after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 20px;
	transition: 0.3s;
}

input:checked + :global(.show_password_label) {
	background: #03e9f4;
}

input:checked + :global(.show_password_label):after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

:global(.show_password_label):active:after {
	width: 40px;
}

:global(.switch_word){
    margin-left: 20px;
    color: white;
}

:global(.switch_card_question){
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

:global(.switch_card_button){
    margin-left: 10px;
    cursor: pointer;
    color: #03e9f4;
}

:global(.user_button_box){
  width: 100%;
  text-align: center;
}

:global(.user_button){
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  overflow: hidden;
  transition: .5s;
  border:1px solid white;
  border-radius: 5px;
}

:global(.user_button):hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

:global(.user_button):hover::before {
  transform: scale(1.25);
  transition: all ease-out .5s;
  border: 1px solid #96f3e0;
  opacity: 0;
}






:global(.fakePass) {
	font-size: 1em;
	width: 0%;
	border-radius: 4px 0 0 4px;
	position: absolute;
	background: black;
	z-index: 2;
	height: 40px;
	top: 0;
	right: 0;
	left: 0;
	transition: all 1s ease 0s;
	width: 0;
	line-height: 40px;
	text-indent: 10px;
	overflow: hidden;
	box-shadow: 0.15em 0.15em 0.25em var(--dark-grey) inset,
		-0.15em -0.15em 0.25em #ffffff80 inset;
	color: #808080;

}



:global(.fakePass):global(.scan) {
	display: block;
	animation: scan-show 1s ease-out 0s 1;
	width: 0%;
	left: 0;
}

:global(.fakePass):global(.scan):before {
	display: none;
}

:global(.fakePass):after {
	content: "";
	height: 40px;
	width: 2px;
	background: #92ceff;
	position: absolute;
	right: 10px;
	top: 0;
	box-shadow: 0 0 3px 1px #33a4ff, 0 0 5px 3px #33a4ff;
	animation: light 0.15s ease 0s infinite;
}

:global(.fakePass):global(.scan):after {
	background: #a1f3f8;
	box-shadow: 0 0 3px 1px #03e9f4, 0 0 5px 3px #03e9f4;
	right: 5px;
}

@keyframes light {
	50% {
		opacity: 0.5;
	}
}

@keyframes scan-show {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}

@keyframes scan-hide {
	0% {
		width: 0%;
		left: 0;
		right: inherit;
	}
	98% {
		width: 100%;
		left: 0;
		right: inherit;
	}
	99% {
		width: 100%;
		left: inherit;
		right: 0;
	}
	100% {
		width: 0%;
		left: inherit;
		right: 0;
	}
}

@-moz-document url-prefix() {
	:global(.fakePass) {
		text-shadow: 0 0 2px #666, 0 0 2px #666, 0 0 2px #666, 0 0 2px #666,
			0 0 2px #666, 0 0 2px #666, 0 0 2px #666, 0 0 2px #666;
	}
}