@value grayLine from "./colors.module.css";
@value grayWorld from "./colors.module.css";

.monthPage_background{

  background-repeat: repeat;
  background-color: var(--navBgColor);
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
  box-sizing: border-box;
}

.monthPage_container{
    display: grid;
    height: 100%;
    grid-template-columns: 80% 20%;
}

/*.week_container{
    width: 1200px;
    height: 50px;
    background-color: white;
    
}*/


.sideBar_button{
    position: absolute;
    font-size: 20px;
    box-sizing: border-box;
    padding-top:30px;
    text-align: center;
    width: 80px;
    height: 80px;
    top:10%;
    right: 380px;
    background-color: rgb(70, 69, 69);
    color: white;
    border-radius: 40px;
    font-family:'Lilita One', cursive;
    z-index: 10;
    cursor: pointer;
}

.sideBar_button:hover{
    background-color: aqua;
}

.week_title{
    font-family: 'Lilita One', cursive;
    width: 1600px;
    height: 40px;
    line-height: 40px;
    display: flex;
    /*position: fixed;*/
    justify-content: space-around;
    padding-left: 0px;
    z-index: 20;
    background-color: white;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    margin: auto auto;
    margin-top: 30px;
}

:global(.week){
    width:100%;
    padding-left: 0px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: grayWorld;
}

.monthCell{
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    font-family: 'Lilita One', cursive;
    user-select:none;
    box-sizing: border-box;
    width: 1600px;
    height: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 5px;
    margin: auto auto;
    margin-bottom: 40px;
    cursor: pointer;
}

:global(.date){
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    border: 0.5px solid grayLine;
    background-color: var(--mainBgColor);
}



