@value saveButtonBg from "./colors.module.css";
@value saveButtonActiveBg from "./colors.module.css";
@value dialogBoxBg from "./colors.module.css";
@value grayLine from "./colors.module.css";
@value inputFocus from "./colors.module.css";
@value boxSize  730px;
.icon{
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    width: 20px;
    height: 20px;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    color: rgba(0,0,0,0);
    font-size: 1px;
    cursor: pointer;
}

.toDoListDialogBox_background{
    display: flex;
    position: absolute;
    top:0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.437);
    z-index: 10;
    justify-content: center;
}

.toDoListDialogBox_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1600px;
    top:25%;
    left:11%;
}

.toDoListDialogPic{
    background-color: black;
    background-image: url(/public/assets/task_card.png);
    width: 300px;
    height: boxSize;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    color: white;
    box-sizing: border-box;
    text-align: center;
    padding-top: 500px;
    border-radius: 5px 0px 0px 5px;
}

.toDoListDialogBox{
    text-align: center;
    width: 400px;
    height: boxSize;
    background-color: dialogBoxBg;
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(178, 178, 178, 0.73);
    box-shadow: 0px 0px 12px 3px rgba(81, 80, 80, 0.73);
}

.close_container{
    display: flex;
    justify-content: right;
}

.close_button{
    background-image: url(/public/assets/close_icon.png);
    composes:icon;
    margin: 20px;
    margin-top: 5px;
}

.title_container{
    position: relative;
}

.toDoList_title{
    outline: none;
    border: 0px black solid;
    border-bottom:1px grayLine solid ;
    width:300px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 40px;
}

.remind_word{
    color: #f04444;
    margin-top: 10px;
}

.toDoList_title:focus+.under_line {
    transform: scaleX(1)
}

.under_line{
    position: absolute;
	content: "";
	height: 2px;
	width: 300px;
    margin-left: 60px;
	background-color: #4158D0;
	transform: scaleX(0);
	transition:transform 0.3s ease;
}

.colors_items_container{
    margin-left: 60px;
    margin-top: 20px;
    width:300px;
    height: 50px;
}

.colors_items > input{
    display: none;
}

.colors_items > input:checked+label{
    border: 4px solid black;
    opacity: 0.5;
}

.colors_items{
    display: flex;
}

.colors_items > .color_item_style{
    width:50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    margin-right: 20px;
    color: rgba(0,0,0,0);
    transition: transform 0.3s;
}



.color_item_style:nth-child(2){
    background-color: #F56651;
}

.color_item_style:nth-child(4){
    background-color: #7AE9C9;
}

.color_item_style:nth-child(6){
    background-color: #FDCD47;
}

.color_item_style:nth-child(8){
    background-color: #606A92;
}

.color_item_style:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.time_container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.time_icon{
    background-image: url(/public/assets/time_icon.png);
    composes:icon;
    margin-right: 20px;
}

.time_information{
    width: 300px;
    padding-left: 0px;
    display: flex;
}

.time_information >.time_item{
    width: 100px;
    height: 80px;
    border: #4158D0 1px solid;
    border-radius: 5px;
    margin-right: 20px;
}

.time_input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 20px;
    text-align: center;
    border: 0px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: #4158D0 1px solid;
    caret-color:#4158D0;
}

.time_bottom_word{
    line-height: 30px;
    color: #4158D0;
}

.dividing_line_day{
    margin:10px auto;
    color: #4158D0;
    margin-right: 20px;
}

.description_container{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    width:100%;
    position: relative;
}

.description_icon{
    background-image: url(/public/assets/description_icon.png);
    composes:icon;
    margin-right: 20px;
}

.description{
    width: 300px;
    border: 0px;
    padding: 10px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: grayLine;
}

.description:focus + .description_under_line{
    transform: scaleX(1)
}

.description_under_line{
    position: absolute;
    content: "";
	height: 2px;
	width: 300px;
    bottom:0px;
    margin-left: 40px;
	background-color: #4158D0;
	transform: scaleX(0);
	transition:transform 0.3s ease;
}

.save_button_container{
    display: flex;
    justify-content: right;
    margin-top: 20px;
    padding-right: 20px;
}

.save_button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    color: #4158D0;
    border: 1px solid #4158D0;
    cursor: pointer;
    margin-bottom: 20px;
}



.save_button:hover{
    background-color: #4158D0;
    color: white;
}




